<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-capitalize">{{ title }}</h2>
                <p class='attribute'><strong>Name: </strong><span id="student-name">{{ student_name }}</span> (<span
                        id="netid"></span>{{ netid }}</span>)</p>
                <p class='attribute'><strong>Grade: </strong><span id="final-grade">{{ grade }}</span></p>
                <!-- Reviewer ID: {{ reviewer_id }} -->
            </div>
        </div>


        {%- for rubric_item, pr_data in rubric.items() %}
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-10">
                <table class='table table-hover table-responsive table-bordered border-primary'>
                    <thead>
                        <tr>
                            <th>{{ rubric_item }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='{{ pr_data["class"]}}'>
                            <td class="col-xs-10">Comments: {{ pr_data['long_description'] }}</td>
                            <td class="col-xs-10">{{ pr_data['description'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {%- endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('td').on('click', '.btn', function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var $this = $(this);
                var $nextRow = $this.closest('tr').next('tr');
                $nextRow.slideToggle("fast");
                $this.text(function (i, text) {
                    if (text === 'View') {
                        return 'Hide';
                    } else {
                        return 'View';
                    };
                });
            });
        });
    </script>
</body>

</html